.something {
	background-color: slateblue;
	padding: 20px;
	border-radius: 5px;
}

.error {
	background-color: rgb(240, 235, 235);
	padding: 5px;
	border-radius: 10px;
}

.card {
	background-color: wheat;
	padding: 10px;
	border-radius: 5px;
	margin: 10px;
}
